/* font  */
/* common styles  */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*------------
header section
-------------*/
.head-section {
    margin-top: 70px;
    margin-bottom: 130px;
}

.header {
    width: 1421px;
    height: 646px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: black;

}

.heading {
    padding-left: 30px;
}

.heading>h1 {
    font-size: 50px;
}

.heading-para {
    font-size: 20px;
    text-align: justify;
}

.hcolor {
    color: white;
}

.image img {
    width: 581px;
    height: 613px;
    width: 100%;
}

.head-flex {
    padding: 32px;
    display: flex;
    align-items: center;
}

.half-width {
    width: 50%;
}

/* button  */
.button {
    margin-top: 20px;
    background-color: rgb(253, 25, 25);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    font-weight: 600;
}

.main {
    width: 1421px;

    margin: 0 auto;
}


/*--------------------
menu style section 
-------------------- */


.menu {
    border: 1px solid black;
    height: 312px;
    width: 312px;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
}

.menu-items {
    padding: 33px;
    margin: 10px;
    background-color: rgb(248, 242, 242);
    border-radius: 20px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.upcoming-match {
    text-decoration: none;
    color: white;

}

.colored {
    background-color: red;
    color: rgb(255, 251, 251);
}

/* blog items grid  */
.blog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* match style  */

.schedule {
    border: 1px solid rgb(236, 231, 231);
    border-radius: 10px;
    width: 312px;
    height: 242px;
    text-align: center;
    padding-top: 100px;

}

.vs {
    font-weight: 800;
    margin: 10px;
}

/* match grid  */

.match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}


/*------------
    footer
------------*/
.footer {
    height: 444px;
    background-color: black;
    margin-top: 130px;
}

.f-heading {
    margin-top: 40px;
    color: white;
    text-align: center;


}

hr {
    width: 70%;
    margin: auto;
    height: 1px;
    background-color: rgb(226, 219, 219);

}

.footer {
    padding-bottom: 130px;
}

.footer-element {
    padding-top: 120px;
    margin-bottom: 50px;
    font-size: 30px;

}

.footer-menu {


    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* if needed
     display: grid;
    grid-template-columns: repeat(7, 1fr); */

}

.footer-menu-item {
    color: rgb(189, 188, 188);
    font-size: 20px;
    margin-right: 30px;

}

.footer-icon {
    text-align: center;
    text-decoration: none;

}

.fa-brands {
    color: rgb(223, 50, 50);
    font-size: 30px;
    margin-top: 50px;
    margin-right: 50px;
}



/*---------------
    media query
----------------*/
@media only screen and (max-width: 688px) {
    .head-flex {
        flex-direction: column;
    }

    .header {
        width: 90%;
        height: 500px;

    }

    .heading {
        width: 258px;
        height: 178px;
    }

    .image>img {
        /* padding-top: 0px; */
        padding-top: 49px;
        width: 100%;
        height: 100%;
    }

    .heading>h1 {
        font-size: 22px;
        text-align: center;

    }

    .heading-para {
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    /* blog section  */

    .blog-items {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;


    }


    .transfer-news {
        grid-template-columns: repeat(1, 1fr);
        /* justify-content: center;
    align-items: center; */
        margin-left: 30px;
        margin-top: 40px;
    }

    /*----------- footer option -------------   */

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }

    .footer {
        width: 100%;
        height: 100%;
    }

    .footer-menu-item {
        text-align: center;
        margin: 7px;
    }

    /* for website 2  */
    .match {
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
    }
}

/* tablet devices  */
@media (min-width: 689px) and (max-width: 991px) {
    .header {
        width: 90%;
        height: 540px;
    }

    .heading {
        width: 298px;
        height: 150px;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .image>img {
        width: 100%;
        height: 100%;
    }

    .heading>h1 {
        font-size: 40px;
    }

    .heading-para {
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .main {
        width: 100%;
        height: 100%;
    }

    .blog-items {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;


    }

    .transfer-news {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }

    /* footer option  */

    .footer {
        width: 100%;
        height: 100%;
    }

    .footer-menu-item {
        text-align: center;
        margin: 19px;
    }

    /* for second website in tab  */
    .match {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 70px;
    }

}